<p>
  On a cold and quiet night, my friend @Model.FriendName and I were driving on a winding road near town. We were almost into town when we heard a @Model.SoundAdjective sound fly over
  our heads. When we looked up, we saw what looked like a @Model.Vehicle flying over head. Before we had time to stop the car, we were transported inside the craft where we encountered 3 large beings
  with @Model.HeadShape heads. While their heads were @Model.HeadShape, they smelled like @Model.Smell! We pleaded with the beings to let us go. While we pleaded with them, they started using strange
  devices on us that felt like @Model.Sensation.
</p>