<h1>What You Should Do When You See A Wolf</h1>
<p>
  Once upon a time, I had this friend named @Model.FriendName. We decided to @Model.ActionVerb into the forest to hunt for @Model.SizeAdjective mushrooms. All of the sudden, a giant wolf jumped
  out and scared us. "Ahh!" we said. We turned to run to find the @Model.SpeedAdjective car in the land. But @Model.FriendName decided to do the brave thing instead, so he threw a
  @Model.ThrowableObject to distract the wolf. "Ahh!" the wolf said. We got away, and ten minutes later were sipping chai tea at @Model.Place.
</p>